In [1]:
range(0,20)
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
x=range(10,20)
for num in x:
    print(num)

10
11
12
13
14
15
16
17
18
19

In [7]:
x=range(3,6)
for num in x:
    print(num)

3
4
5

In [8]:
x=range(3,20,2)
for num in x:
    print(num)

3
5
7
9
11
13
15
17
19

In [14]:
for i in range(10,20):
    print(i,end=" ")
print()

10 11 12 13 14 15 16 17 18 19

In [19]:
list=["10","20","14","55","43","87","76"]
x=len(list)
print(len(list))

7

In [31]:
string='Artifical Intelligence'
print(string)
for knowledge in range(0,len(string)):
    print(string[knowledge])

Artifical Intelligence
A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [34]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [35]:
tuple1=(1,"Welcome",2,"Hope")
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [36]:
tuple1=(0,1,2,3)
tuple2=("Python","Hope")
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [37]:
tuplelists=(20,10,16,19,25,1,276,188)
print(tuplelists)
for num in tuplelists:
    if num % 2!=0:
        print(num,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [38]:
tupelists=(20,10,16,19,25,1,276,188)
print(tuplelists)
for num in tuplelists:
    if num % 2 == 0:
        print(num,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even