In [3]:
celsius=int(input("Enter the temperature in celsius"))
f=(celsius*1.8)+32
print("Temperature in farenheit is:",f)

Enter the temperature in celsius52
Temperature in farenheit is: 125.60000000000001

In [4]:
#simple interest
principle=float(input("Enter the principle amount:"))
time=int(input("Enter the time(years):"))
rate=float(input("Enter the rate:"))
simple_interest=(principle*time*rate)/100
print("The simple interest is:",simple_interest)

Enter the principle amount:1000
Enter the time(years):2
Enter the rate:5
The simple interest is: 100.0

In [5]:
cm=int(input("Enter the height in centimeters:"))
inches=0.394*cm
feet=0.0328*cm
print("The lenght in inches",round(inches,2))
print("The lenght in feet",round(feet,2))

Enter the height in centimeters:152
The lenght in inches 59.89
The lenght in feet 4.99

In [8]:
#exchange the two variables
x=5; y=10
temp=x
x=y
y=temp
print("The value of x after swapping:",x)
print("The value of y after swapping",y)

The value of x after swapping: 10
The value of y after swapping 5

In [13]:
#test the leap year
import calendar
calendar.isleap(2016)
calendar.isleap(2014)

False

In [12]:
import calendar
calendar.isleap(2016)

True

In [16]:
#check if the number positive,negative or zero
num1=float(input("Enter a number:"))
if num1>=0:
    if num1==0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number:0
Zero

In [17]:
message='kamalakannan'
for i in message:
    print(i)

k
a
m
a
l
a
k
a
n
n
a
n

In [18]:
#find odd or even
numbers=[10,99,3,28,41,40,5,9,66]
for i in numbers:
    if i % 2 == 0:
        print(i,"is an even number")
    else:
        print(i,"is an odd number")

10 is an even number
99 is an odd number
3 is an odd number
28 is an even number
41 is an odd number
40 is an even number
5 is an odd number
9 is an odd number
66 is an even number

In [19]:
range(3,10)
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [20]:
range(4,10,2)
list(range(4,10,2))

[4, 6, 8]

In [22]:
range(5)
list(range(5))

[0, 1, 2, 3, 4]

In [24]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [40]:
#item is present in the list
list=[10,12,13,34,27,98]
num=int(input("Enter the number to be searched in the list:"))
for item in range(len(list)):
    if list[item] == num:
        print("Item found at:",(item+1))
    break
else:
    print("Item not found in the given list")

Enter the number to be searched in the list:34